# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.*

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# Firebase Keys
*.json
!package.json
!tsconfig.json

# OS
.DS_Store
Thumbs.db